.hero-nav {
  padding-top: 63px;
  width: auto;
  text-align: center;
  -webkit-transition-property: padding-top background-color;
  transition-property: padding-top background-color;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.hero-nav__image {
  margin: 0 47px;
  width: 168px;
  vertical-align: middle;

  -webkit-transition-property: margin width;
  transition-property: margin width;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.hero-nav__link {
  display: inline-block;
  vertical-align: middle;
  margin: 0 59px;
  width: 90px;

  font-family: 'OpenSansSemiBold';
  font-size: 20px;
  text-decoration: none;
  color: #ffffff;
  letter-spacing: 0.1em;

  -webkit-transition-property: margin width font-size;
  transition-property: margin width font-size;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.hero-nav__link:hover {
  color: #ac46bf;
}

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;

  width: 100%;
}

div.is-stuck {
  padding: 12px 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.is-stuck .hero-nav__link {
  margin: 0 18px;
  width: 75px;
  font-size: 16px;
}

.is-stuck .hero-nav__image {
  margin: 0 15px;
  width: 97px;
}

.is-stuck .hero-nav__link:hover {
  color: #ac46bf;
}
