.picture-slide {
  height: 100vh;
  width: 100%;
  position: relative;
  background-color: #ebebeb;
}

.picture-slide img {
  height: 100vh;
  margin: 0 auto;
}

.slick-dots {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin-top: -3%;
}

.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  cursor: pointer;
  color: transparent;
  outline: none;
  background: transparent;

  border: 2px solid #7d7d7d;
	border-radius: 50%;
}

li.slick-active button{
  background-color: #7d7d7d;
}

.slick-dots li {
  width: 30px;
  height: 30px;
}

.slick-prev {
  position: absolute;
  left: 40px;
  top: calc(50vh - 40px);
  width: 40px;
  height: 75px;
  color: transparent;
  border: none;
  background-color: transparent;
  background: url(../images/arrow.png) no-repeat;
  background-position: -37px -21px;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  z-index: 100;
}

.slick-next {
  position: absolute;
  right: 40px;
  top: calc(50vh - 40px);
  width: 40px;
  height: 75px;
  color: transparent;
  border: none;
  background-color: transparent;
  background: url(../images/arrow.png) no-repeat;
  background-position: -37px -21px;
  z-index: 100;
}

.slick-prev:focus {outline:0;}
.slick-next:focus {outline:0;}
