/** color styles **/
.gray-back {
  background-color: #ebebeb;
}

.dark-red-back {
  background-color: #930b0f;
}

.magenta-back {
  background-color: #c31c76;
}

.light-purple-back {
  background-color: #d4cbde;
}

.teal-back {
  background-color: #1cbbb4;
}

.orange-back {
  background-color: #e56507;
}

.red-back {
  background-color: #ec243e;
}

.med-red-back {
  background-color: #bf1e2e;
}

.pink-back {
  background-color: #efd0e2;
}

.light-gray-back {
  background-color: #f0f0f2;
}

.lone-title, .carousel-title {
  margin: 70px 0;
  color: #707070;
  font-family: 'OpenSansRegular';
  font-size: 34px;
  letter-spacing: 0.05em;
  text-align: center;
  line-height: 40px;
}

.slide-container {
  padding: 100px 0;
  position: relative;
}

.carousel-title {
  position: absolute;
  top: 70px;
  left: calc(50% - 113px);
  z-index: 2;
  margin: auto;
}

.text-section {
  padding: 100px;
  color: #707070;
  font-family: 'OpenSansRegular';
  font-size: 24.5px;
  letter-spacing: 0.05em;
  text-align: center;
  line-height: 40px;
}

.text-columns {
  margin-top: 40px;
  display: flex;
  justify-content: space-around;
}

.text-columns div {
  margin-top: 70px;
  width: 25%;
  display: inline-block;
  text-align: left;
}

.text-columns h3 {
  font-size: 24.5px;
  font-family: 'OpenSansSemiBold';
  letter-spacing: 0.1em;
}

.text-section .text-columns p {
  margin-top: 0px;
}

.text-section h2 {
  font-size: 34px;
}


.text-section p {
  margin-top: 40px;
}

.subhead {
  font-family: 'OpenSansSemiBold';
  margin-bottom: 20px;
}

.full-screen-img {
  width: 100vw;
  margin-bottom: -0.5%;
}

.other-project-link {
  width: 50%;
  margin: 0;
  padding: 120px 0;
  display: inline-block;
  text-align: center;
}

.other-project-link span {
  width: 100%;
  display: block;
  font-family: 'OpenSansRegular';
  font-size: 20px;
  color: #dddddd;
}

.other-project-link a {
  display: block;
  font-family: 'OpenSansSemiBold';
  margin-top: 30px;
  font-size: 34px;
  color: white;
}

.other-project-link a:hover {
  color: black;
}

.other-projects {
  width: 100%;
  margin: 0 0 -0.5% 0;
  padding: 0;
}

.process-document-button {
  display: inline-block;
  color: #717070;
  background-color: transparent;
  margin-top: 40px;
  font-family: 'OpenSansSemiBold';
  font-size: 24.5px;
  letter-spacing: 0.05em;
  padding: 8px 28px;
  border: 3px solid #717070;
}

.process-document-button:hover {
  color: #ffffff;
  background-color: #717070;
}
